@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Cinzel:wght@400..900&family=Cormorant+Infant:ital,wght@0,300;1,300&family=Gruppo&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&family=VT323&display=swap');



@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #0b0f0d;
    font-family: "arial", sans-serif;
    justify-content: center;
    color: #b8b6b6;
    line-height: 1.6;
}
header{
    color: rgb(173, 184, 173);
    font-family: "VT323", monospace;
    
}
/*cor de fundo com gradiente verde e verde escuro*/
.inicio {
    background: radial-gradient(circle at right, #27219c, #171324 60%);
}

.inicio {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1.5rem 3rem;
}

.inicio p {
    text-align: right;
    font-size: 1.2rem;
}


/*menu um do lado do outro*/
.menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.titulo-cabeçalho {
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}

nav {
    
    display: flex;
    color: #c0bbbb;
    font-weight: 500;
    justify-content: center; 
    font-size: 1.1rem; 
}
.layout {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  max-width: 1300px;
  margin:  0 auto;
  justify-content: left;
  margin-top: 3rem;
}

.conteudo-principal {
  flex: 10;
}



main {
  background-color: #130e22f8;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgba(63, 255, 111, 0.2);
}

h2, h3{
    text-align: center;
}

.img-atuação {
  display: block;
  margin: 2rem auto;
  width: 30rem;
  border-radius: 200px;
  margin-bottom: 0rem;
}

.atuação, .identificação{
 max-width: 100%;
 justify-content: center;
 font-size: 1.1rem;
 margin-top: 6rem;
 margin-bottom: 6rem;
 
}

.titulo-ferramentas {
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 6rem;

}
.lista-ferramentas {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.1rem;
  margin-bottom: 6rem;
}

.img-ferramentas{
    display: block;
    margin: 2rem auto;
    width: 30rem;
    border-radius: 200px;
    margin-bottom: 0rem;
}

.sidebar {
 
  background: radial-gradient(
    circle at top,
    rgba(35, 8, 107, 0.459),
    rgba(22, 5, 43, 0.95) 70%
  );
  border: 30px solid rgba(16, 11, 26, 0.123);
  border-radius: 10px;
  padding: 2rem;
  font-family: "VT323", monospace;
  height: fit-content;
  max-width: 280px;
  flex: 0.8;
 
}

.img-sidebar{
  width: 11rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  margin-top: 4rem;
  
    
}



.monitoramento {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}


.footer {
  background: radial-gradient(circle at right, #181461, #171324 60%);
  padding: 2rem;
  text-align: center;
}

.descri-footer {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}
.nav{
  font-size: 1rem;
  margin-top: 1rem;
}

.titulo-nav {
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.desenvolvedora {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.figcap {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.fig-atuação {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.contato {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
}
.link-contato {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

